:root {
  --navigator-toolbox-height: 28px !important;
  --tab-min-height: calc(var(--navigator-toolbox-height)) !important;
  --tab-border-radius: 8px !important;
  --toolbarbutton-border-radius: var(--tab-border-radius) !important;
  --tabstrip-min-height: 0 !important;
  --drop-down-transition: 0.15s ease-in-out 0.5s;
}


/* Give toolbar buttons some more top/bottom margin */
.toolbarbutton-1 {
  --toolbarbutton-margin: 2px;

  > .toolbarbutton-icon, .toolbarbutton-badge-stack {
    height: calc(var(--tab-min-height) - 2*var(--toolbarbutton-margin)) !important;
    width: calc(var(--tab-min-height) - 2*var(--toolbarbutton-margin)) !important;
    padding: calc((var(--tab-min-height) - 16px) / 2 - var(--toolbarbutton-margin)) !important;
    margin: var(--toolbarbutton-margin) 0px;
  }
}


/* Make top bar draw on top of browser */ 
#navigator-toolbox {
  z-index: 3 !important;
  background-color: transparent !important;
  border-top: 0 !important;
  border-bottom-color: var(--toolbar-bgcolor) !important; /* lighter top bar border */
}

/* Keep tabs toolbar within navigator toolbox height */
#TabsToolbar-customization-target {
  max-height: var(--navigator-toolbox-height);
  align-self: center;
}

/* Nav bar on top of tabs by default */
#nav-bar {
  top: calc(-1*var(--navigator-toolbox-height));
  margin-bottom: calc(-1*var(--navigator-toolbox-height));
  padding-bottom: 1px !important;
  max-height: calc(var(--navigator-toolbox-height)) !important;
  opacity: 0;
  border-top-color: transparent !important;
  background: var(--toolbar-bgcolor) linear-gradient(rgb(32, 32, 32)) center !important;
  background-blend-mode: lighten;
  transition: var(--drop-down-transition) !important;
  transition-property: top, opacity !important;
}


/* Show nav-bar when hovering over or focused within */
#navigator-toolbox:is(:hover, :focus-within) > #nav-bar {
  top: 0;
  opacity: 1;
  transition-delay: 0s !important;
  
  #urlbar {
    transition-delay: 0s !important;
    opacity: 1 !important;
  }
}


/* Force show nav-bar when customizing */
#main-window[customizing] {
  #nav-bar {
    top: 0 !important;
    opacity: 1 !important;
    margin-bottom: 0 !important;
    transition: none !important;
    transition-delay: 0 !important;
  }

  #urlbar {
    opacity: 1 !important;
    margin-top: -4px !important;
    transition: none !important;
    transition-delay: 0 !important;
  }
}


/* Force show titlebar spacer */
#TabsToolbar .titlebar-spacer[type='pre-tabs'] {
  display: block !important;
}


/* Fit tabs to smaller tabs toolbar */
.tab-background {
  margin-block: 1px !important;
  min-height: 0 !important;
}

/* Add identity color to container tabs + context line */
.tabbrowser-tab[class^='identity-color'] {
  .tab-label {
    color: color-mix(in srgb, light-dark(dimgray, white), var(--identity-tab-color));
  }
  &[selected] .tab-background {
    background-color: color-mix(in srgb, light-dark(white, dimgray), var(--identity-tab-color) 25%) !important;
    outline-color: var(--identity-tab-color) !important;
  }
  /* Make tab line visible */
  .tab-context-line {
    margin-top: -1px !important;
    height: 3px !important;
    margin-inline: 8px !important;
    border-radius: 3px !important;
  }
}

/* Move tab group line down a bit */
tab-group > .tabbrowser-tab .tab-group-line,
.tab-group-label-container {
  margin-bottom: -1px;
}

/* Smaller tab close button */
.tab-close-button {
  height: 20px !important;
  width: 20px !important;
  padding: 4px !important;
  border-radius: 6px !important;
  /* make red on hover for visibility */
  &:hover {
    background-color: red !important;
  }
}

/* Tab dividers */
#tabbrowser-tabs:not([orient='vertical']) .tabbrowser-tab + .tabbrowser-tab::before {
  content: '';
  position: relative;
  width: 1px;
  height: 16px;
  margin: 6px 1px 0 -2px;
  background: color-mix(in srgb, currentColor 25%, transparent);
}

/* Shorter tab spacing (3px) */
.tabbrowser-tab { padding-inline: 1px !important; }
.tabbrowser-tab:nth-child(n+2) { padding-left: 1.5px !important; }
.tabbrowser-tab:nth-last-child(n+2) { padding-right: 1.5px !important; }


/* Fit urlbar into shorter navbar */
#urlbar {
  --urlbar-height: var(--urlbar-container-height) !important;

  position: relative !important;
  opacity: 0 !important;
  transition: top var(--animation-easing-function) 150ms, /* match urlbar-grow animation */
              filter var(--animation-easing-function) 150ms,
              opacity var(--drop-down-transition) !important;
  
  > .urlbar-input-container {
    height: var(--urlbar-height) !important;
    transition: inherit !important;
    transition-property: height !important;
  }
}

/* Drop down and show urlbar when focused */
#urlbar[focused] {
  --urlbar-height: calc(var(--urlbar-min-height) + 16px) !important;  
  
  margin-left: calc(-1 * var(--urlbar-margin-inline)) !important;
  width: calc(var(--urlbar-width) + 2 * var(--urlbar-margin-inline)) !important;
  top: 160px !important;
  opacity: 1 !important;
  transition-delay: 0s !important;
  filter: drop-shadow(0 5px 8px black) !important;
  
  /* Give urlbar buttons the default look */
  > .urlbar-input-container {
    padding-block: 10px !important;
    padding-inline: calc(var(--urlbar-margin-inline) + var(--urlbar-container-padding)) !important;
  }
}


/* Overrides ATBC settings
#nav-bar {
  --toolbarbutton-icon-fill: white !important;
  --toolbar-field-color: white !important;
}

.titlebar-button {
  color: white !important;
}

.urlbar-addon-page-action[style*=".svg"] > .urlbar-icon {
  :root #urlbar:not([focused]) & {
    filter: grayscale(100%) brightness(20%) invert();
  }

  @media (prefers-color-scheme: dark) {
    :root:not([lwtheme]) & {
      filter: grayscale(100%) brightness(20%) invert();
    }
  }
} */