:root {
  --navigator-toolbox-height: 28px !important;
  --personal-toolbar-height: calc(2.5ch + 6px);
  --tab-min-height: calc(var(--navigator-toolbox-height)) !important;
  --tab-border-radius: 8px !important;
  --toolbarbutton-border-radius: var(--tab-border-radius) !important;
  --toolbarbutton-outer-padding: 2px !important;
  --tabstrip-min-height: 0 !important;
  --drop-down-transition: 0.15s ease-in-out 1s;
}


/* Give toolbar buttons some more top/bottom margin */
.toolbarbutton-1 {
  --toolbarbutton-margin: 2px;

  > .toolbarbutton-icon, .toolbarbutton-badge-stack {
    height: calc(var(--tab-min-height) - 2*var(--toolbarbutton-margin)) !important;
    width: calc(var(--tab-min-height) - 2*var(--toolbarbutton-margin)) !important;
    padding: calc((var(--tab-min-height) - 16px) / 2 - var(--toolbarbutton-margin)) !important;
    margin: var(--toolbarbutton-margin) 0px;
  }
}


/* Make tabs and nav bar draw on top of browser */ 
#navigator-toolbox {
  z-index: 3 !important;
  background-color: transparent !important;
  border-top: 0 !important;
  border-bottom-color: var(--toolbar-bgcolor) !important; /* lighter top bar border */
}

/* Keep tabs toolbar within navigator toolbox height */
#TabsToolbar-customization-target {
  max-height: var(--navigator-toolbox-height);
  align-self: center;
}

#navigator-toolbox:not([tabs-hidden], :has(notification-message))::after {
  content: '';
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.2), transparent);
  width: 100%;
  height: 20px;
  position: absolute;
  top: var(--navigator-toolbox-height);
  opacity: 0;
  pointer-events: none;
  transition: var(--drop-down-transition);
  transition-property: translate, opacity;
}

/* Nav bar on top of tabs by default */
#navigator-toolbox:not([tabs-hidden]) #nav-bar {
  top: calc(-1*var(--navigator-toolbox-height));
  visibility: visible;
  margin-bottom: calc(-1*var(--navigator-toolbox-height));
  max-height: calc(var(--navigator-toolbox-height)) !important;
  border: 0 !important;
  padding: 0 !important;
  opacity: 0;
  border-top-color: transparent !important;
  background: var(--toolbar-bgcolor) linear-gradient(rgb(32, 32, 32)) center !important;
  background-blend-mode: lighten;
  box-shadow: none;
  transition: var(--drop-down-transition) !important;
  transition-property: top, opacity !important;
}

#PersonalToolbar:not([collapsed]) {
  margin-top: calc(-1 * var(--personal-toolbar-height)) !important;
  opacity: 0;
  visibility: visible;
  max-height: var(--personal-toolbar-height) !important;
  background: var(--toolbar-bgcolor) linear-gradient(rgb(64, 64, 64)) center !important;
  transition: var(--drop-down-transition) !important;
  transition-property: translate, opacity !important;
}

/* Collapse some navigator toolbox elements to allow for tab dragging */
#navigator-toolbox:not([tabs-hidden]):-moz-window-inactive {
  > #nav-bar {
    visibility: collapse;
    transition-property: top, opacity, visibility !important;
  }
  
  > #PersonalToolbar:not([collapsed]) {
    visibility: collapse;
    transition-property: translate, opacity, visibility !important;
  }
}

#notifications-toolbar {
  transition: var(--drop-down-transition) !important;
  transition-property: transform;
}

/* Show nav-bar when hovering over or focused within */
#navigator-toolbox:is(:hover, :focus-within, :has(*:not(.tabbrowser-tab)[open], #downloads-button[notification='finish'], #reload-button[disabled], #stop-button:not([disabled]))):not([tabs-hidden]) {
  & > #nav-bar {
    top: 0;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s !important;
  }

  & #urlbar {
    opacity: 1;
    transition-delay: 0s !important;
  }
  
  & #notifications-toolbar {
    translate: 0 var(--navigator-toolbox-height);
    background-color: rgb(64, 64, 64) !important;
    transition-delay: 0s !important;
  }
  
  & > #PersonalToolbar:not([collapsed]) ~ #notifications-toolbar {
    translate: 0 calc(var(--navigator-toolbox-height) + var(--personal-toolbar-height));
  }

  /* Move sidepanel down with navigator toolbox so it doesn't get drawn over */
  & ~ #browser > #sidebar-main {
    margin-top: var(--navigator-toolbox-height);
    transition-delay: 0s !important;
  }
  
  &::after {
    opacity: 1;
    translate: 0 var(--navigator-toolbox-height);
    transition-delay: 0s !important;
  }
  
  &:has(> #PersonalToolbar:not([collapsed]))::after {
    translate: 0 calc(var(--navigator-toolbox-height) + var(--personal-toolbar-height));
  }
}

#main-window:not([customizing]) #navigator-toolbox:is(:hover, :focus-within, :has(*:not(.tabbrowser-tab)[open])) {
  & #PersonalToolbar:not([collapsed]) {
    opacity: 1;
    visibility: visible;
    translate: 0 calc(var(--navigator-toolbox-height) + var(--personal-toolbar-height));
    transition-delay: 0s !important;
  }
}

/* Force show nav-bar when customizing */
#main-window[customizing] #navigator-toolbox:not([tabs-hidden]) {
  #nav-bar {
    top: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-bottom: 0 !important;
    transition: none !important;
    transition-delay: 0 !important;
  }

  #urlbar {
    opacity: 1 !important;
    transition: none !important;
    transition-delay: 0 !important;
  }
  
  #PersonalToolbar {
    margin-top: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: none !important;
    transition-delay: 0 !important;
  }
}


#urlbar-container {
  --urlbar-container-height: calc(var(--navigator-toolbox-height) - 4px) !important;
  --urlbar-container-padding: 0px !important;
  --urlbar-padding-block: 0px !important;
  --urlbar-min-height: var(--urlbar-container-height) !important;
}

/* Fit urlbar into shorter navbar */
#urlbar {
  --urlbar-height: var(--urlbar-container-height) !important;

  position: relative !important;
  transition: translate var(--animation-easing-function) 150ms, /* match urlbar-grow animation */
              filter var(--animation-easing-function) 150ms,
              opacity var(--drop-down-transition) !important;

  > .urlbar-input-container {
    height: var(--urlbar-height) !important;
    transition: inherit !important;
    transition-property: height !important;
  }
  
  #page-action-buttons *:is(box[role='button'], hbox[role='button'], image[role='button'], toolbarbutton) {
    min-width: 22px !important;
    height: 22px !important;
    align-self: center;
  }
}

#navigator-toolbox:not([tabs-hidden]) #urlbar {
  opacity: 0;
}

/* Drop down and show urlbar when focused */
#urlbar[focused] {
  --urlbar-height: calc(var(--urlbar-min-height) + 16px) !important;
  --urlbar-focused-width: clamp(400px, calc(var(--urlbar-width) + 2 * var(--urlbar-margin-inline)), 100vw);
  
  margin-left: calc(-1 * var(--urlbar-margin-inline)) !important;
  width: var(--urlbar-focused-width) !important;
  inset-inline-start: calc((100vw - var(--urlbar-focused-width)) / 2) !important;
  translate: 0 160px;
  top: 0 !important;
  transition-delay: 0s !important;
  filter: drop-shadow(0 5px 20px black) drop-shadow(0 5px 20px white);
  
  /* Keep urlbar buttons square */
  > .urlbar-input-container {
    padding-block: 8px !important;
    padding-inline: calc(var(--urlbar-margin-inline) + var(--urlbar-container-padding)) !important;
  }
}


/* Force show titlebar spacer */
#TabsToolbar .titlebar-spacer[type='pre-tabs'] {
  display: block !important;
}


/* Add identity color to container tabs + context line */
.tabbrowser-tab[class^='identity-color'] {
  .tab-label {
    color: color-mix(in srgb, light-dark(dimgray, white), var(--identity-tab-color));
  }
  &[selected] .tab-background {
    background-color: color-mix(in srgb, light-dark(white, dimgray), var(--identity-tab-color) 25%) !important;
    outline-color: var(--identity-tab-color) !important;
    outline-width: 2px !important;
    outline-offset: -2px !important;
  }
  /* Make tab line visible */
  .tab-context-line {
    margin-top: 0px !important;
    height: 2px !important;
    margin-inline: 8px !important;
    border-radius: 3px !important;
  }
}

/* Move tab group line down a bit */
tab-group > .tabbrowser-tab .tab-group-line,
.tab-group-label-container::after,
.tab-group-overflow-count-container::after {
  margin-bottom: -1px;
}

tab-group[collapsed] > .tab-group-label-container:not([open]) {
  opacity: 0.5;
}

tab-group > .tab-group-label-container {
  transition: opacity 150ms;
}

/* Smaller tab close button */
.tab-close-button {
  height: 20px !important;
  width: 20px !important;
  padding: 4px !important;
  border-radius: 6px !important;
  /* make red on hover for visibility */
  &:hover {
    background-color: red !important;
  }
}

/* Horizontal tab fixes */
#tabbrowser-tabs:not([orient='vertical']) {
  --tab-divider-height: 16px;
  --tab-spacing: 3px;   /* make this an odd number */
  
  /* Fit tabs to smaller tabs toolbar */
  .tab-background {
    margin-block: 1px !important;
    min-height: 0 !important;
  }
  
  /* Tab dividers */
  *:is(tab, tab-group):not([selected], [multiselected], :hover, [aria-hidden], [collapsed]) + *:is(tab):not([selected], [multiselected], :hover, [aria-hidden], [collapsed])::before,
  #tabbrowser-arrowscrollbox:not([overflowing]) *:is(tab, tab-group):not([selected], [multiselected], :hover, [aria-hidden]) + #tabbrowser-arrowscrollbox-periphery::before {
    content: '';
    position: relative;
    width: 1px;
    height: var(--tab-divider-height);
    margin-block: calc((var(--navigator-toolbox-height) - var(--tab-divider-height)) / 2);
    margin-inline: calc(-1 * (var(--tab-spacing) / 2 + 0.5px)) calc(var(--tab-spacing) / 2 - 0.5px);
    background: color-mix(in srgb, currentColor 25%, transparent);
  }

  /* Shorter tab spacing */
  .tabbrowser-tab:not([aria-hidden]) { padding-inline: 1px !important; }
  .tabbrowser-tab:not([aria-hidden]):nth-child(n+2) { padding-left: calc(var(--tab-spacing) / 2) !important; }
  .tabbrowser-tab:not([aria-hidden]):nth-last-child(n+2) { padding-right: calc(var(--tab-spacing) / 2) !important; }
}

/* Vertical tab adjustments */
#tabbrowser-tabs[orient='vertical'] {
  /* compact spacing */
  .tabbrowser-tab {
    padding-block: 2px !important;

    /* more top padding to 1st tab */
    &:nth-of-type(1) {
      padding-block-start: 5px !important;
    }
    
    .tab-background {
      margin-block: 0 !important;
    }
  }
}


/* Disable browser box shadow */
#tabbrowser-tabbox, browser {
  box-shadow: none !important;
}


/* Sidebar things */
#sidebar-main {
  transition: margin-top var(--drop-down-transition);
}
#sidebar-box {
  padding-top: var(--space-small) !important;
}


/* Overrides ATBC settings, only enable if ATBC is enabled */
/* #navigator-toolbox, :root {
  background-color: transparent !important;
}

#main-window[lwt-tab-selected='light'] {
  .titlebar-button,
  .tabbrowser-tab:not([selected]),
  .tab-icon-image {
    color: var(--lwt-accent-color) !important;
  }
} */


/* Smaller right click context menu padding */
menupopup {
  --menuitem-padding: 4px 8px !important;
    
  menuseparator {
    padding: var(--menuitem-padding) !important;
  }
}

/* Same as above for context menu nav buttons */
#context-navigation > .menuitem-iconic > .menu-icon {
  padding: var(--menuitem-padding) !important;
}

.browserSidebarContainer .dialogBox {
  margin-top: var(--navigator-toolbox-height) !important;
}