:root {
  --navigator-toolbox-height: 28px !important;
  --tab-min-height: calc(var(--navigator-toolbox-height)) !important;
  --tab-border-radius: 8px !important;
  --toolbarbutton-border-radius: var(--tab-border-radius) !important;
  --tabstrip-min-height: 0 !important;
  --drop-down-transition: 0.15s ease-in-out 0.5s;
}


/* Give toolbar buttons some more top/bottom margin */
.toolbarbutton-1 {
  --toolbarbutton-margin: 2px;

  > .toolbarbutton-icon, .toolbarbutton-badge-stack {
    height: calc(var(--tab-min-height) - 2*var(--toolbarbutton-margin)) !important;
    width: calc(var(--tab-min-height) - 2*var(--toolbarbutton-margin)) !important;
    padding: calc((var(--tab-min-height) - 16px) / 2 - var(--toolbarbutton-margin)) !important;
    margin: var(--toolbarbutton-margin) 0px;
  }
}


/* Make tabs and nav bar draw on top of browser */ 
#navigator-toolbox {
  z-index: 3 !important;
  background-color: transparent !important;
  border-top: 0 !important;
  border-bottom-color: var(--toolbar-bgcolor) !important; /* lighter top bar border */
}

/* Keep tabs toolbar within navigator toolbox height */
#TabsToolbar-customization-target {
  max-height: var(--navigator-toolbox-height);
  align-self: center;
}

/* Nav bar on top of tabs by default */
#navigator-toolbox:not([tabs-hidden]) #nav-bar {
  top: calc(-1*var(--navigator-toolbox-height));
  margin-bottom: calc(-1*var(--navigator-toolbox-height));
  padding-bottom: 1px !important;
  max-height: calc(var(--navigator-toolbox-height)) !important;
  opacity: 0;
  border-top-color: transparent !important;
  background: var(--toolbar-bgcolor) linear-gradient(rgb(32, 32, 32)) center !important;
  background-blend-mode: lighten;
  transition: var(--drop-down-transition) !important;
  transition-property: top, opacity !important;
}

/* Show nav-bar when hovering over or focused within */
#navigator-toolbox:is(:hover, :focus-within):not([tabs-hidden]) {
  & > #nav-bar {
    top: 0;
    opacity: 1;
    transition-delay: 0s !important;

    #urlbar {
      transition-delay: 0s !important;
      opacity: 1 !important;
    }
  }
}   

/* Move sidepanel down with navigator toolbox so it doesn't get drawn over */
#navigator-toolbox:is(:hover, :focus-within):not([tabs-hidden]) ~ #browser > #sidebar-main {
  margin-top: var(--navigator-toolbox-height);
  transition-delay: 0s !important;
}
#sidebar-main {
  transition: margin-top var(--drop-down-transition);
}


/* Force show nav-bar when customizing */
#main-window[customizing] {
  #nav-bar {
    top: 0 !important;
    opacity: 1 !important;
    margin-bottom: 0 !important;
    transition: none !important;
    transition-delay: 0 !important;
  }

  #urlbar {
    opacity: 1 !important;
    margin-top: -4px !important;
    transition: none !important;
    transition-delay: 0 !important;
  }
}



/* Fit urlbar into shorter navbar */
#urlbar {
  --urlbar-height: var(--urlbar-container-height) !important;

  position: relative !important;
  transition: top var(--animation-easing-function) 150ms, /* match urlbar-grow animation */
              filter var(--animation-easing-function) 150ms,
              opacity var(--drop-down-transition) !important;
  
  > .urlbar-input-container {
    height: var(--urlbar-height) !important;
    transition: inherit !important;
    transition-property: height !important;
  }
}

#navigator-toolbox:not([tabs-hidden]) #urlbar {
  opacity: 0 !important;
}

/* Drop down and show urlbar when focused */
#urlbar[focused] {
  --urlbar-height: calc(var(--urlbar-min-height) + 16px) !important;  
  
  margin-left: calc(-1 * var(--urlbar-margin-inline)) !important;
  width: calc(var(--urlbar-width) + 2 * var(--urlbar-margin-inline)) !important;
  top: 160px !important;
  opacity: 1 !important;
  transition-delay: 0s !important;
  filter: drop-shadow(0 5px 8px black) !important;
  
  /* Keep urlbar buttons square */
  > .urlbar-input-container {
    padding-block: 10px !important;
    padding-inline: calc(var(--urlbar-margin-inline) + var(--urlbar-container-padding)) !important;
  }
}


/* Force show titlebar spacer */
#TabsToolbar .titlebar-spacer[type='pre-tabs'] {
  display: block !important;
}


/* Fit tabs to smaller tabs toolbar */
.tab-background {
  margin-block: 1px !important;
  min-height: var(--navigator-toolbox-height) !important;
}

/* Add identity color to container tabs + context line */
.tabbrowser-tab[class^='identity-color'] {
  .tab-label {
    color: color-mix(in srgb, light-dark(dimgray, white), var(--identity-tab-color));
  }
  &[selected] .tab-background {
    background-color: color-mix(in srgb, light-dark(white, dimgray), var(--identity-tab-color) 25%) !important;
    outline-color: var(--identity-tab-color) !important;
  }
  /* Make tab line visible */
  .tab-context-line {
    margin-top: -1px !important;
    height: 3px !important;
    margin-inline: 8px !important;
    border-radius: 3px !important;
  }
}

/* Move tab group line down a bit */
tab-group > .tabbrowser-tab .tab-group-line,
.tab-group-label-container {
  margin-bottom: -1px;
}

/* Smaller tab close button */
.tab-close-button {
  height: 20px !important;
  width: 20px !important;
  padding: 4px !important;
  border-radius: 6px !important;
  /* make red on hover for visibility */
  &:hover {
    background-color: red !important;
  }
}

#tabbrowser-tabs {
  --tab-divider-height: 16px;
  --tab-spacing: 3px;   /* make this an odd number */
}
#tabbrowser-tabs:not([orient='vertical']) {
  /* Tab dividers */
  .tabbrowser-tab + .tabbrowser-tab::before {
    content: '';
    position: relative;
    width: 1px;
    height: var(--tab-divider-height);
    margin-block: calc((var(--navigator-toolbox-height) - var(--tab-divider-height)) / 2);
    margin-inline: calc(-1 * (var(--tab-spacing) / 2 + 0.5px)) calc(var(--tab-spacing) / 2 - 0.5px);
    background: color-mix(in srgb, currentColor 25%, transparent);
  }

  /* Shorter tab spacing (3px) */
  .tabbrowser-tab { padding-inline: 1px !important; }
  .tabbrowser-tab:nth-child(n+2) { padding-left: calc(var(--tab-spacing) / 2) !important; }
  .tabbrowser-tab:nth-last-child(n+2) { padding-right: calc(var(--tab-spacing) / 2) !important; }
}


/* Disable browser box shadow */
#tabbrowser-tabbox, browser {
  box-shadow: none !important;
}


/* Overrides ATBC settings, only enable if ATBC is enabled */
/* #navigator-toolbox, :root {
  background-color: transparent !important;
}

#main-window[lwt-tab-selected='light'] {
  .titlebar-button,
  .tabbrowser-tab:not([selected]),
  .tab-icon-image {
    color: var(--lwt-accent-color) !important;
  }
} */


/* Smaller right click context menu padding */
menupopup {
  --menuitem-padding: 4px 8px !important;
    
  menuseparator {
    padding: var(--menuitem-padding) !important;
  }
}

/* Same as above for context menu nav buttons */
#context-navigation > .menuitem-iconic > .menu-icon {
  padding: var(--menuitem-padding) !important;
}