@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    /* Logo-wordmark at top left */
    .logo-and-wordmark-wrapper {
        position: absolute;
        container-type: normal !important;
        top: var(--space-xlarge);
        left: var(--space-xlarge);
        margin-left: var(--space-xlarge);
    }

    /* Partial border on search bar on hover over */
    .search-handoff-button:hover {
        border: var(--content-search-handoff-ui-border-width) solid var(--content-search-handoff-ui-fakefocus-border-color) !important;
    }

    /* Controls search bar width to avoid overlap */
    .search-inner-wrapper {
        width: 240px !important;
    }
    @media (min-width: 724px) {
        .search-wrapper .search-inner-wrapper {
            width: 360px !important;
        }
    }
    @media (min-width: 866px) {
        .search-wrapper .search-inner-wrapper {
            width: 410px !important;
        }
    }
    @media (min-width: 1122px) {
        .search-wrapper .search-inner-wrapper {
            width: 510px !important;
        }
    }
    @media (min-width: 1378px) {
        .search-wrapper .search-inner-wrapper {
            width: 720px !important;
        }
    }
    
    /* Top sites list at bottom center */
    .nova-outer-wrapper .container.logo-in-content .top-sites-list-wrapper {
        position: absolute;
        bottom: var(--space-xlarge);
        justify-self: center;
    }

    /* Wider gap between top site buttons */
    .top-sites-list {
        column-gap: var(--space-large) !important;
        --newtab-background-card: var(--newtab-background-color-secondary) !important;
    }

    /* Top sites on the bottom, each row centered */
    .top-sites-list {
        display: flex !important;
        width: calc(var(--top-sites-max-per-row) * (75px + var(--space-large))) !important;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    @media (max-width: 723px) {
        .top-sites-list {
            --top-sites-max-per-row: 6 !important;
        }
    }
    
    /* Top sites translucent background */
    .top-sites-list .top-site-button .tile {
        background: color-mix(in srgb, var(--newtab-background-card) 80%, transparent) !important;
    }
    
    .top-sites-list .top-site-inner:hover .tile {
        background: var(--newtab-background-card) !important;
    }

    .top-site-outer .context-menu {
        inset: initial !important;
        inset-inline-start: calc(var(--col-width) - var(--space-xxsmall) - 24px) !important;
        inset-block-end: calc(100% + var(--space-xsmall)) !important;
        z-index: 6 !important;
    }

    /* Darken wallpapers */
    .activity-stream:is(.darkWallpaper, .lightWallpaper)::before {
        content: '';
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: radial-gradient(transparent 50%, black 100%);
        opacity: 0.25;
    }
    
    /* Weather widget translucent background */
    .weather-widget {
        height: min-content !important;
        background-color: color-mix(in srgb, var(--newtab-background-color-secondary) 80%, transparent) !important;
    }
    
    .weather-widget:hover {
        background-color: var(--newtab-background-color-secondary) !important;
    }
    
    /* Better spacing in weather widget */
    .weather-widget > .widget-title-bar {
        padding-bottom: var(--space-small);
    }
    
    .weather-widget > .forecast-footer {
        height: 1rem;
        transition: margin 200ms, height 200ms;
    }
    
    /* Hide sponsor label until hover */
    .weather-widget:not(:hover) > .forecast-footer {
        height: 0;
        margin-block-start: 0 !important;
    }

    /* Add background blur to some elements with a non-transparent background */
    .weather-widget,
    .top-site-outer .tile,
    .search-handoff-button,
    .personalize-button {
        backdrop-filter: blur(5px);
    }
    
    .weather-widget {
        transition-property: height, background !important;
    }
    
    .search-handoff-button {
        transition-property: background !important;
        transition-duration: 200ms;
    }
    
    .top-site-outer .tile {
        transition-property: height, width, background !important;
    }
    
    #main-button > .button-background {
        transition-property: max-width, padding, background !important;
    }
    
    /* Search bar solid / transparent background */
    content-search-handoff-ui:not([fakefocus], :hover) {
        --content-search-handoff-ui-background-color: color-mix(in srgb, var(--newtab-background-color-secondary) 80%, transparent) !important;
    }
}

@-moz-document url-prefix("file:///") {
    #scaleSelectContainer.dropdownToolbarButton {
        height: 100%;
    }
}